<% for(let d of dish) { %>
    <form action="" method="post" class="box">
      <!-- <a href="/menu/<%= d.id %>" class="fas fa-eye"></a> -->
      <button
        type="submit"
        class="fas fa-shopping-cart"
        name="add_to_cart"
      ></button>
      <a href="/menu/<%= d.id %>" alt=''> <img src="/<%= d.image %>" alt="" /> </a>
      
      <a href="/category?q=<%= d.type %>" class="cat"><%= d.type %></a>
      <div class="name"><%= d.title %></div>
      <div class="flex">
        <div class="price"><%= d.price %> <span>vnd</span></div>
        <input
          type="number"
          name="qty"
          class="qty"
          min="1"
          max="99"
          value="1"
          onkeypress="if(this.value.length == 2) return false;"
        />
      </div>
    </form>
    <% } %>